<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="container">
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo, consequuntur. Fuga saepe quibusdam cum nisi modi 
                beatae consectetur repellat quisquam quas iusto. 
                Dolores id eos provident sint ducimus est incidunt?


                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Sapiente numquam unde odio ratione facere necessitatibus vero quae voluptatem officia. 
                Corporis maxime aperiam labore autem dolore sapiente porro impedit excepturi illo.
                
            </span>
           
          </div>
    </body>
</html>